<html>
  <head>
    <link rel="stylesheet" href="assets/style/style.css">
  </head>
  <body>
    <!--<h1 class="title">{{meta.github}}</h1>-->    
    <!--{{>main}}-->
    {{>menu}}
    <!--{{>textbox}}-->

  </body>
</html>