<div class="menu">
    <ul class="liste">
        <li>Attack : <span class="attack"> 100 </span></li>
        <li>Life : <span class="life"> 100 </span></li>
        <li>Stamina : <span class="stamina"> 100 </span></li>
        <li>Defense : <span class="defense"> 100 </span></li>
    </ul>
</div>