<div class="menu">
    <ul>
        <li>Attack : <span class="attack"> 100 </span></li>
        <li>Life : <span class="life"> 100 </span></li>
        <li>Stamina : <span class="stamina"> 100 </span></li>
    </ul>
</div>